<div class="container">
    <div class="row div col col col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="row p-5 mt-5">
            <div class="col col col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <form>
                    <div class="form-outline mb-4">
                        <h2 class=".text-center">Add To Do</h2>
                    </div>
                    <div class="form-outline mb-4">
                    <label class="form-label" for="">User Id:</label>
                      <input type="text" class="form-control" />
                      
                    </div>
                  
                
                    <div class="form-outline mb-4">
                      <label class="form-label">Id</label>
                      <input type="text"  class="form-control" />
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label">Title</label>
                        <input type="text"  class="form-control" />
                      </div>

                    <div class="form-outline mb-4">
                        <label class="form-label">Status</label>
                        <input type="text"  class="form-control" />
                    </div>

                    <div class="form-out-line mb-1">
                        <button type="button" class="btn btn-primary btn-block mb-4">Ssubmit</button>
                    </div>
            
                    
                  </form>
            </div>
        </div>
    </div>
</div>
